In [64]:
#Magic
%matplotlib

Using matplotlib backend: MacOSX

In [65]:
#Dependencies
import os
import pandas as pd
import numpy as np
import glob
from matplotlib import pyplot as plt

In [66]:
# Not every CSV has encoding, yet better safe than sorry
raw_restaurants_df = pd.read_csv("raw_all_restaurants.csv", encoding="ISO-8859-1")

In [67]:
raw_restaurants_df.head()

,Unnamed: 0,Unnamed: 0.1,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,...,program_name,program_status,rating,record_id,review_count,score,serial_number,service_code,service_description,yelp_id
0,0,0,11/17/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,91,DAPDUDULO,401,OWNER INITIATED ROUTINE INSPECT.,m3xOrOOqdsvE9ygMyHSpZQ
1,1,1,11/17/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,91,DAPDUDULO,401,OWNER INITIATED ROUTINE INSPECT.,m3xOrOOqdsvE9ygMyHSpZQ
2,2,2,11/06/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,81,DA6GMZWE0,1,ROUTINE INSPECTION,m3xOrOOqdsvE9ygMyHSpZQ
3,3,3,11/06/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,81,DA6GMZWE0,1,ROUTINE INSPECTION,m3xOrOOqdsvE9ygMyHSpZQ
4,4,4,11/17/2015 12:00:00 AM,EE0000950,6600 E OLYMPIC BLVD STE #106,LOS ANGELES,FA0055785,YUM YUM DONUTS,CA,90022,...,YUM YUM DONUTS,INACTIVE,3.5,PR0047011,24,92,DATA6A0QP,1,ROUTINE INSPECTION,x0brWIP6TsqeT80ERX_mHQ

In [68]:
raw_restaurants_df.count()

Unnamed: 0             43675
Unnamed: 0.1           43675
activity_date          43675
employee_id            43675
facility_address       43675
facility_city          43675
facility_id            43675
facility_name          43675
facility_state         43675
facility_zip           43675
food_type              43675
grade                  43675
in_business            43675
index                   2343
latitude               43675
longitude              43675
owner_id               43675
owner_name             43675
pe_description         43675
price                  43675
program_element_pe     43675
program_name           43675
program_status         43675
rating                 43675
record_id              43675
review_count           43675
score                  43675
serial_number          43675
service_code           43675
service_description    43675
yelp_id                43675
dtype: int64

In [69]:
print(raw_restaurants_df.columns)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'activity_date', 'employee_id',
       'facility_address', 'facility_city', 'facility_id', 'facility_name',
       'facility_state', 'facility_zip', 'food_type', 'grade', 'in_business',
       'index', 'latitude', 'longitude', 'owner_id', 'owner_name',
       'pe_description', 'price', 'program_element_pe', 'program_name',
       'program_status', 'rating', 'record_id', 'review_count', 'score',
       'serial_number', 'service_code', 'service_description', 'yelp_id'],
      dtype='object')

In [70]:
raw_restaurants_df = raw_restaurants_df.sort_values(["facility_id","activity_date"], ascending=False)

#raw_restaurants_df.drop_duplicates(subset=["activity_date"], take_last=False)

raw_restaurants_df.head()

,Unnamed: 0,Unnamed: 0.1,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,...,program_name,program_status,rating,record_id,review_count,score,serial_number,service_code,service_description,yelp_id
13750,13750,37,03/30/2018 12:00:00 AM,EE0000846,1972 HILLHURST AVE,LOS ANGELES,FA0258145,SUSHI AI,CA,90027,...,SUSHI AI,ACTIVE,4.5,PR0208131,36,90,DAKGWGTYN,1,ROUTINE INSPECTION,J5OiWmshzD9Xf4NusZvhjA
13792,13792,79,03/29/2018 12:00:00 AM,EE0000846,5611 FIGUEROA ST STE 211,LOS ANGELES,FA0258144,HOMESTATE,CA,90042,...,HOMESTATE,ACTIVE,4.0,PR0208130,91,96,DAWBZCDBO,1,ROUTINE INSPECTION,iBN17PY_Bd7uW8qWgjv-ww
13743,13743,30,03/30/2018 12:00:00 AM,EE0000727,9840 NATIONAL BLVD,LOS ANGELES,FA0258138,K&A CATON CHINESE REST.,CA,90034,...,K&A CATON CHINESE REST.,ACTIVE,3.0,PR0208124,143,90,DA7PKAIGH,1,ROUTINE INSPECTION,D9R0ynjo-hu7hnLEiWB7fA
13720,13720,7,03/30/2018 12:00:00 AM,EE0000117,929 W JEFFERSON BLVD,LOS ANGELES,FA0258130,KOBUNGA KOREAN GRILL,CA,90089,...,KOBUNGA KOREAN GRILL,ACTIVE,4.0,PR0208117,50,97,DA7E0XYSS,1,ROUTINE INSPECTION,8RXJiao_twvDmzDAqwkw6w
13887,13887,174,03/28/2018 12:00:00 AM,EE0000144,11955 W WASHINGTON BLVD STE 1,LOS ANGELES,FA0257995,WALL STREET PIZZA,CA,90066,...,WALL STREET PIZZA,ACTIVE,3.0,PR0207952,44,91,DAY4BNLXP,1,ROUTINE INSPECTION,aL1wiQCuDn9T-UkvOrmncQ

In [71]:
#NOTE TO TEAM: "Unnamed: 0", "Unnamed: 0.1","index", and "owner_id" will not drop--the latter cannot be found in the axis ... not sure how to drop
raw_restaurants_df.drop(["Unnamed: 0", "Unnamed: 0.1", "index", "owner_id","serial_number", "service_code", "service_description", "employee_id", "owner_name", "program_element_pe", "program_name", "program_status"], axis=1, inplace=True)

raw_restaurants_df.head()

,activity_date,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,food_type,grade,in_business,latitude,longitude,pe_description,price,rating,record_id,review_count,score,yelp_id
13750,03/30/2018 12:00:00 AM,1972 HILLHURST AVE,LOS ANGELES,FA0258145,SUSHI AI,CA,90027,"['Sushi Bars', 'Japanese']",A,False,34.107347,-118.287275,RESTAURANT (31-60) SEATS HIGH RISK,$$,4.5,PR0208131,36,90,J5OiWmshzD9Xf4NusZvhjA
13792,03/29/2018 12:00:00 AM,5611 FIGUEROA ST STE 211,LOS ANGELES,FA0258144,HOMESTATE,CA,90042,"['Tex-Mex', 'Tacos', 'Breakfast & Brunch']",A,False,34.109420,-118.193830,RESTAURANT (31-60) SEATS HIGH RISK,$$,4.0,PR0208130,91,96,iBN17PY_Bd7uW8qWgjv-ww
13743,03/30/2018 12:00:00 AM,9840 NATIONAL BLVD,LOS ANGELES,FA0258138,K&A CATON CHINESE REST.,CA,90034,['Chinese'],A,False,34.031150,-118.400895,RESTAURANT (31-60) SEATS HIGH RISK,$,3.0,PR0208124,143,90,D9R0ynjo-hu7hnLEiWB7fA
13720,03/30/2018 12:00:00 AM,929 W JEFFERSON BLVD,LOS ANGELES,FA0258130,KOBUNGA KOREAN GRILL,CA,90089,"['Korean', 'Barbeque']",A,False,34.025032,-118.285650,RESTAURANT (0-30) SEATS HIGH RISK,$$,4.0,PR0208117,50,97,8RXJiao_twvDmzDAqwkw6w
13887,03/28/2018 12:00:00 AM,11955 W WASHINGTON BLVD STE 1,LOS ANGELES,FA0257995,WALL STREET PIZZA,CA,90066,['Pizza'],A,False,33.998007,-118.421494,RESTAURANT (0-30) SEATS HIGH RISK,$$,3.0,PR0207952,44,91,aL1wiQCuDn9T-UkvOrmncQ

In [72]:
raw_restaurants_df = raw_restaurants_df.rename(columns={"unnamed (index)": "Index #",
"activity_date": "Inspection Date",
"facility_name": "Restaurant",
"score": "Score",
"grade": "Grade",
"facility_id": "Facility ID",
"facility_address": "Address",
"facility_city": "City",
"facility_state": "State",
"facility_zip": "Zip", 
"index": "IGNORE",                                  
"owner_id": "Owner ID",
"pe_description": "Type",
"record_id": "Inspection ID",           
"food_type": "Cuisine",
"in_business": "Active Business",
"latitude": "Latitude",
"longitude": "Longitude", 
"price": "Price",
"rating": "Rating",
"review_count": "# of Reviews",
"yelp_id": "Yelp ID"
})

raw_restaurants_df.head()

,Inspection Date,Address,City,Facility ID,Restaurant,State,Zip,Cuisine,Grade,Active Business,Latitude,Longitude,Type,Price,Rating,Inspection ID,# of Reviews,Score,Yelp ID
13750,03/30/2018 12:00:00 AM,1972 HILLHURST AVE,LOS ANGELES,FA0258145,SUSHI AI,CA,90027,"['Sushi Bars', 'Japanese']",A,False,34.107347,-118.287275,RESTAURANT (31-60) SEATS HIGH RISK,$$,4.5,PR0208131,36,90,J5OiWmshzD9Xf4NusZvhjA
13792,03/29/2018 12:00:00 AM,5611 FIGUEROA ST STE 211,LOS ANGELES,FA0258144,HOMESTATE,CA,90042,"['Tex-Mex', 'Tacos', 'Breakfast & Brunch']",A,False,34.109420,-118.193830,RESTAURANT (31-60) SEATS HIGH RISK,$$,4.0,PR0208130,91,96,iBN17PY_Bd7uW8qWgjv-ww
13743,03/30/2018 12:00:00 AM,9840 NATIONAL BLVD,LOS ANGELES,FA0258138,K&A CATON CHINESE REST.,CA,90034,['Chinese'],A,False,34.031150,-118.400895,RESTAURANT (31-60) SEATS HIGH RISK,$,3.0,PR0208124,143,90,D9R0ynjo-hu7hnLEiWB7fA
13720,03/30/2018 12:00:00 AM,929 W JEFFERSON BLVD,LOS ANGELES,FA0258130,KOBUNGA KOREAN GRILL,CA,90089,"['Korean', 'Barbeque']",A,False,34.025032,-118.285650,RESTAURANT (0-30) SEATS HIGH RISK,$$,4.0,PR0208117,50,97,8RXJiao_twvDmzDAqwkw6w
13887,03/28/2018 12:00:00 AM,11955 W WASHINGTON BLVD STE 1,LOS ANGELES,FA0257995,WALL STREET PIZZA,CA,90066,['Pizza'],A,False,33.998007,-118.421494,RESTAURANT (0-30) SEATS HIGH RISK,$$,3.0,PR0207952,44,91,aL1wiQCuDn9T-UkvOrmncQ

In [77]:
raw_restaurants_df.drop_duplicates(raw_restaurants_df.columns.difference(["Inspection Date"]), keep="first", inplace=True)

raw_restaurants_df.head()

,Inspection Date,Address,City,Facility ID,Restaurant,State,Zip,Cuisine,Grade,Active Business,Latitude,Longitude,Type,Price,Rating,Inspection ID,# of Reviews,Score,Yelp ID
13750,03/30/2018 12:00:00 AM,1972 HILLHURST AVE,LOS ANGELES,FA0258145,SUSHI AI,CA,90027,"['Sushi Bars', 'Japanese']",A,False,34.107347,-118.287275,RESTAURANT (31-60) SEATS HIGH RISK,$$,4.5,PR0208131,36,90,J5OiWmshzD9Xf4NusZvhjA
13792,03/29/2018 12:00:00 AM,5611 FIGUEROA ST STE 211,LOS ANGELES,FA0258144,HOMESTATE,CA,90042,"['Tex-Mex', 'Tacos', 'Breakfast & Brunch']",A,False,34.109420,-118.193830,RESTAURANT (31-60) SEATS HIGH RISK,$$,4.0,PR0208130,91,96,iBN17PY_Bd7uW8qWgjv-ww
13743,03/30/2018 12:00:00 AM,9840 NATIONAL BLVD,LOS ANGELES,FA0258138,K&A CATON CHINESE REST.,CA,90034,['Chinese'],A,False,34.031150,-118.400895,RESTAURANT (31-60) SEATS HIGH RISK,$,3.0,PR0208124,143,90,D9R0ynjo-hu7hnLEiWB7fA
13720,03/30/2018 12:00:00 AM,929 W JEFFERSON BLVD,LOS ANGELES,FA0258130,KOBUNGA KOREAN GRILL,CA,90089,"['Korean', 'Barbeque']",A,False,34.025032,-118.285650,RESTAURANT (0-30) SEATS HIGH RISK,$$,4.0,PR0208117,50,97,8RXJiao_twvDmzDAqwkw6w
13887,03/28/2018 12:00:00 AM,11955 W WASHINGTON BLVD STE 1,LOS ANGELES,FA0257995,WALL STREET PIZZA,CA,90066,['Pizza'],A,False,33.998007,-118.421494,RESTAURANT (0-30) SEATS HIGH RISK,$$,3.0,PR0207952,44,91,aL1wiQCuDn9T-UkvOrmncQ

In [78]:
raw_restaurants_df.count()

Inspection Date    29270
Address            29270
City               29270
Facility ID        29270
Restaurant         29270
State              29270
Zip                29270
Cuisine            29270
Grade              29270
Active Business    29270
Latitude           29270
Longitude          29270
Type               29270
Price              29270
Rating             29270
Inspection ID      29270
# of Reviews       29270
Score              29270
Yelp ID            29270
dtype: int64

In [79]:
raw_restaurants_df.groupby(["Facility ID","Restaurant"]).size()

Facility ID  Restaurant
FA0001155    FRATERNAL ORDER OF EAGLES                 2
FA0001320    MAGEE'S KITCHEN                           4
FA0001404    CLUB LOS GLOBOS                           3
FA0001714    HILLCREST COUNTRY CLUB                   16
FA0002076    PHILIPPE                                  5
FA0002143    7 STAR COFFEE #2                          1
FA0002183    BILL'S DRIVE IN                           5
FA0002200    KOREAN GARDENS RESTAURANT                 5
FA0002215    LOS ANGELES COUNTRY CLUB MAIN KITCHEN     2
FA0002240    MUSSO & FRANK'S GRILL                     5
FA0002263    PLAZA SALOON                              2
FA0002420    101 COFFEE SHOP                           6
FA0002645    A MAGIC FOREST                            2
FA0002647    A MI JAPANESE RESTAURANT                  8
FA0002743    A-1 BBQ AND FOOD TO GO                    1
FA0002758    ABC CHINESE FOOD                          4
FA0002761    ABC DONUTS                                3
FA0002784    ACAPULCO RESTAURANT                       2
FA0002817    #2 MOON BBQ                               6
FA0002846    TRIMANA                                   4
FA0002898    THREE BEARS BAR-B-Q                       1
FA0002912    ADOBO GRILL                               4
FA0002923    AERO BISTRO-EMBASSY SUITES                3
FA0002985    1880 CAFE                                 3
FA0002998    1ST STREET BURGERS                        5
FA0003057    AKBAR                                     2
FA0003058    AKI SUSHI & ROLL JAPANESE GR              2
FA0003063    AL AND BEAS RESTAURANT                    3
FA0003068    ALADDIN COFFEE SHOP                       3
FA0003187    25 DEGREES                               13
                                                      ..
FA0257111    LYTE NUTRITION AND FITNESS                1
FA0257112    TACTILE COFFEE                            1
FA0257113    HOLY JUICE                                1
FA0257117    NEON COFFEE                               1
FA0257125    GUYI                                      2
FA0257174    TOCAYA ORGANICA                           1
FA0257326    FELLOW RESTAURANT                         2
FA0257341    INTI PERUVIAN RESTAURANT                  1
FA0257361    KING KONG ROLL N TERIYAKI                 1
FA0257379    SWEETGREEN LA BREA                        2
FA0257380    CIABATTA                                  1
FA0257381    LOVE SHRIMP THAI THAI                     1
FA0257524    ROO SILVERLAKE                            1
FA0257525    BLUESTONE LANE                            2
FA0257531    GUADALA HARRY'S BURITO JOINT              1
FA0257532    PANDA GARDEN                              1
FA0257554    TRIPLE BEAM  PIZZA                        1
FA0257650    MATCHA CHA                                1
FA0257657    PITA HUT                                  1
FA0257661    STARBUCKS #53657                          2
FA0257907    SSA RIT GOL                               1
FA0257915    QUICK STOP BURGERS #1                     1
FA0257916    LA PERGOLETTO DELI                        1
FA0257920    PHO VT                                    1
FA0257957    FLORENCE DONUTS                           1
FA0257995    WALL STREET PIZZA                         1
FA0258130    KOBUNGA KOREAN GRILL                      1
FA0258138    K&A CATON CHINESE REST.                   1
FA0258144    HOMESTATE                                 1
FA0258145    SUSHI AI                                  1
Length: 8087, dtype: int64

In [80]:
unique_restaurants = len(raw_restaurants_df["Restaurant"].unique())

                         
unique_restaurants

7139

In [81]:
#Do a count of all columns
raw_restaurants_df.count()

Inspection Date    29270
Address            29270
City               29270
Facility ID        29270
Restaurant         29270
State              29270
Zip                29270
Cuisine            29270
Grade              29270
Active Business    29270
Latitude           29270
Longitude          29270
Type               29270
Price              29270
Rating             29270
Inspection ID      29270
# of Reviews       29270
Score              29270
Yelp ID            29270
dtype: int64

In [82]:
#Average Inspection Score
raw_restaurants_df["Score"].mean()

93.07523061154765

In [83]:
#Average Yelp Rating
raw_restaurants_df["Rating"].mean()

3.566979842842501

In [84]:
#@TEAM: I don't understand why the new column names don't work--can anyone explain to me? --charla
restaurant_numbers_df = raw_restaurants_df[["Restaurant", "Score", "Rating", "# of Reviews"]]
restaurant_numbers_df.head()

                    Restaurant  Score  Rating  # of Reviews
13750                 SUSHI AI     90     4.5            36
13792                HOMESTATE     96     4.0            91
13743  K&A CATON CHINESE REST.     90     3.0           143
13720     KOBUNGA KOREAN GRILL     97     4.0            50
13887        WALL STREET PIZZA     91     3.0            44

In [85]:
# Output BIG dataframe of clean data to CSV
raw_restaurants_df.to_csv("clean_data_all_restaurants.csv", header=True)