### PURPOSE: To read review our data munging csv, store in a DataFrame, and perform statistics

In [1]:
#import necessary packages
import pandas as pd
import scipy.stats as stats

In [2]:
#build data frame
restaurants_raw = pd.read_csv("../called/la_restaurants_yelped17.csv")
restaurants_raw.head()

,Unnamed: 0,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,...,program_status,record_id,food_type,in_business,latitude,longitude,price,rating,review_count,yelp_id
0,0,DAKG00TSQ,07/20/2015 12:00:00 AM,HONEYMEE,93,A,1,ROUTINE INSPECTION,EE0000699,3377 WILSHIRE BLVD 116,...,ACTIVE,PR0146848,"['Ice Cream & Frozen Yogurt', 'Coffee & Tea', ...",False,34.062203,-118.297569,$,4.0,1045,68r-UE-Dd9jCx0JWaJgC5g
1,1,DAEBCA0RE,07/20/2015 12:00:00 AM,KURA JAPANESE CUISINE,92,A,1,ROUTINE INSPECTION,EE0000838,8162 W SUNSET BLVD,...,ACTIVE,PR0028396,"['Japanese', 'Sushi Bars']",False,34.097329,-118.366670,$$,4.0,280,QDyaFDyOZd2TbY5tIezjnA
2,2,DAEBCA0RE,07/20/2015 12:00:00 AM,KURA JAPANESE CUISINE,92,A,1,ROUTINE INSPECTION,EE0000838,8162 W SUNSET BLVD,...,ACTIVE,PR0028396,"['Japanese', 'Sushi Bars']",False,34.097329,-118.366670,$$,4.0,280,QDyaFDyOZd2TbY5tIezjnA
3,3,DAYJJHNWJ,11/18/2015 12:00:00 AM,KURA JAPANESE CUISINE,92,A,1,ROUTINE INSPECTION,EE0000838,8162 W SUNSET BLVD,...,ACTIVE,PR0028396,"['Japanese', 'Sushi Bars']",False,34.097329,-118.366670,$$,4.0,280,QDyaFDyOZd2TbY5tIezjnA
4,4,DAYJJHNWJ,11/18/2015 12:00:00 AM,KURA JAPANESE CUISINE,92,A,1,ROUTINE INSPECTION,EE0000838,8162 W SUNSET BLVD,...,ACTIVE,PR0028396,"['Japanese', 'Sushi Bars']",False,34.097329,-118.366670,$$,4.0,280,QDyaFDyOZd2TbY5tIezjnA

In [5]:
scrub = restaurants_raw[['serial_number', 'score', 'grade', 'rating']].copy()

In [6]:
scrub.head()

  serial_number  score grade  rating
0     DAKG00TSQ     93     A     4.0
1     DAEBCA0RE     92     A     4.0
2     DAEBCA0RE     92     A     4.0
3     DAYJJHNWJ     92     A     4.0
4     DAYJJHNWJ     92     A     4.0

0       False
1       False
2        True
3       False
4        True
5       False
6        True
7       False
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19       True
20      False
21       True
22      False
23       True
24      False
25       True
26      False
27      False
28      False
29       True
        ...
2680    False
2681    False
2682    False
2683    False
2684    False
2685    False
2686    False
2687    False
2688    False
2689    False
2690    False
2691    False
2692    False
2693    False
2694    False
2695    False
2696    False
2697    False
2698    False
2699    False
2700    False
2701    False
2702    False
2703    False
2704    False
2705    False
2706    False
2707    False
2708    False
2709    False
Length: 2710, dtype: bool